In [3]:
import pandas as pd
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

In [9]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

#2.2 Skalenniveau und Datentypen
#Welches Skalenniveau besitzen die Variablen im obigen Beispiel? ##nominal, metrisch, nominal
#Sind die Variablen stetig oder diskret? ##diskret, stetig, diskret
#Was ist der Datentyp jeder einzelnen Spalte? ##Antwort: object, int, bool

In [11]:
data = {'month': ['Jan', 'Feb', 'Mar','Apr'],
        'temp': [-5, 2, 3,5],
        'below_zero': [True, False, False, False],
        'year': [2020,2020,2020,2020]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

In [12]:
new_row = {'month':'Apr', 'temp':5, 'below_zero':False}
df = df.append(new_row, ignore_index=True)
print(df)

  month  temp  below_zero    year
0   Jan    -5        True  2020.0
1   Feb     2       False  2020.0
2   Mar     3       False  2020.0
3   Apr     5       False  2020.0
4   Apr     5       False     NaN

In [13]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0

In [15]:
df.to_json("../data/Library_Usage.json")

In [16]:
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [17]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                   22               31
2                    0                0
3                    0                0
4                   11              126
...                ...              ...
423443              13              291
423444              11               15
423445              58              208
423446               0               26
423447               0                0

[423448 rows x 2 columns]

In [18]:
df['dummy_variable'] = 5

In [19]:
x = df['Total Renewals']
df['Total Renewals'] = 5
x

0         5
1         5
2         5
3         5
4         5
         ..
423443    5
423444    5
423445    5
423446    5
423447    5
Name: Total Renewals, Length: 423448, dtype: int64

In [20]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

# 2.5 Fallstudie Feature Engineering

In [22]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [28]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)
df['Circulation Active Month']

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
          ..
423443   NaT
423444   NaT
423445   NaT
423446   NaT
423447   NaT
Name: Circulation Active Month, Length: 423448, dtype: datetime64[ns]

In [29]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
423443   NaN
423444   NaN
423445   NaN
423446   NaN
423447   NaN
Name: Circulation Active Month, Length: 423448, dtype: float64

In [31]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

In [32]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df['Membership Duration']
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy_variable,is_adult,log_renewals,Membership Duration
0,0,ADULT,0,5,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,5,True,1.791759,0.0
1,0,ADULT,31,5,25 to 34 years,S7,Sunset,NaN,2016.0,z,email,True,2010,False,4.0,5,True,1.791759,0.0
2,0,ADULT,0,5,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,5,True,1.791759,0.0
3,0,ADULT,0,5,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,5,True,1.791759,0.0
4,0,ADULT,126,5,45 to 54 years,M2,Marina,NaN,2016.0,z,email,True,2003,False,2.0,5,True,1.791759,0.0

In [33]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

In [34]:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
62,3,SENIOR,193,90,65 to 74 years,A5,Anza,July,2016,z,email,True,2007,False,1.0
176,3,SENIOR,7,8,65 to 74 years,X,Main Library,April,2014,z,email,True,2012,True,NaN
260,3,SENIOR,341,212,65 to 74 years,P1,Park,July,2016,z,email,True,2003,False,5.0
294,3,SENIOR,67,26,75 years and over,P5,Portola,July,2016,z,email,True,2009,False,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423359,3,SENIOR,4,0,75 years and over,W4,Western Addition,May,2013,z,email,True,2012,False,5.0
423388,3,SENIOR,25,34,75 years and over,X,Main Library,May,2016,z,email,True,2015,True,NaN
423403,3,SENIOR,458,129,75 years and over,E9,Excelsior,June,2016,z,email,True,2003,True,NaN
423405,3,SENIOR,280,27,75 years and over,X,Main Library,July,2016,z,email,True,2003,False,9.0
423431,3,SENIOR,0,0,75 years and over,X,Main Library,None,None,z,email,True,2012,False,6.0

In [35]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

#2.6 Filtern

In [36]:
#1 Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du?

In [37]:
children = (df['Age Range'] == '0 to 9 years').sum()
children

38242

In [38]:
#2 Gibt es Personen mit mehr als 20000 Ausleihen

In [39]:
checkouts = (df['Total Checkouts'] >= 20000).sum()
checkouts

3

In [40]:
#3 Wie viele Personen stammen aus dem Norden San Franciscos (Supervisor Districts) 1, 2 und 3)?

In [41]:
df['Supervisor District'].isin([1, 2, 3]).sum()

70091

#2.9 Pandas Funktionen

In [42]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,ADULT,0,0,35 to 44 years,X,Main Library,None,None,z,email,True,2012,False,1.0
96,0,ADULT,11,0,20 to 24 years,X,Main Library,September,2015,z,email,True,2015,False,NaN
97,0,ADULT,160,44,25 to 34 years,R3,Richmond,May,2015,z,email,True,2003,False,1.0
98,0,ADULT,11,3,35 to 44 years,M2,Marina,March,2014,z,email,True,2003,False,NaN
99,0,ADULT,40,0,45 to 54 years,O7,Ortega,April,2015,p,phone,True,2003,False,4.0

In [43]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
count,423448.000000,423448,423448.000000,423448.000000,423233,423408,423448,423448,423448,423448,423448,423448,423448.000000,423448,313138.000000
unique,NaN,18,NaN,NaN,10,79,35,13,15,4,4,2,NaN,2,NaN
top,NaN,ADULT,NaN,NaN,25 to 34 years,X,Main Library,July,2016,z,email,True,NaN,False,NaN
freq,NaN,272251,NaN,NaN,91083,124814,124814,91566,147901,323937,323937,336420,NaN,359628,NaN
mean,1.036765,NaN,161.982097,59.657327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.348917,NaN,6.288240
std,4.188198,NaN,453.703678,225.009917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.357374,NaN,3.123634
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,1.000000
25%,0.000000,NaN,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.000000,NaN,4.000000
50%,0.000000,NaN,19.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN,6.000000
75%,1.000000,NaN,113.000000,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,NaN,9.000000
max,104.000000,NaN,35907.000000,8965.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,11.000000

In [44]:
print(df.min())
print(df['Total Renewals'].min())

Patron Type Code                    0
Patron Type Definition          ADULT
Total Checkouts                     0
Total Renewals                      0
Home Library Definition          Anza
Circulation Active Month        April
Circulation Active Year          2003
Notice Preference Code              -
Notice Preference Definition    email
Provided Email Address          False
Year Patron Registered           2003
Outside of County               False
Supervisor District               1.0
dtype: object
0

/tmp/ipykernel_35848/2524581452.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.min())

In [45]:
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

21739

In [46]:
df.columns
df.dtypes
df.shape

(423448, 15)

In [47]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [48]:
df.dtypes

Patron Type Code                  int64
Patron Type Definition           object
Total Checkouts                   int64
Total Renewals                    int64
Age Range                        object
Home Library Code                object
Home Library Definition          object
Circulation Active Month         object
Circulation Active Year          object
Notice Preference Code           object
Notice Preference Definition     object
Provided Email Address             bool
Year Patron Registered            int64
Outside of County                  bool
Supervisor District             float64
dtype: object

In [49]:
df.shape

(423448, 15)